/* CSS */
html, body {
  height: 100%;
  margin: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background: #000;
  font-family: sans-serif;
}

/* Glavni kontejner za cijelu stranicu */
.stranica-kontejner {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: #141414;
}

/* Pozadinski SVG (crvena) */
.pozadina-svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*! z-index: -1; */
  background-color: #800000; /* Tamno crvena */
}

/* Sekcije stranice */
.sekcija {
  width: 100%;
  height: 100vh; /* Svaka sekcija puna visina ekrana */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #141414;
}

.sekcija-bijela {
  width: 100%;
  height: 100vh; /* Svaka sekcija puna visina ekrana */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #cccccc;
}

/* Naslovi (žuti okviri) */
.veliki-naslov {
  width: 96vw;
  /*! max-width: 90%; */
  height: 17vw;
  /*! background-color: #decd87; */ /* Žućkasta */
  /*! margin: 1vw 0; */
  /*! display: flex; */
  /*! justify-content: center; */
  /*! align-items: center; */
  position: absolute;
  left: 2vw;
  transform: translatey(-119%);
  z-index: 5;
}

.veliki-naslov2 {
  width: 96vw;
  /*! max-width: 90%; */
  height: 17vw;
  /*! background-color: #f10089; */ /* Žućkasta */
  margin: 1vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 2vw;
  transform: translatey(117%);
  z-index: 3;
}

/* Tekst unutar naslova */
.naslov-tekst-bg {
  font-size: 21vw; /* Responsivan font */
  color: #cccccc;
  text-align: center;
  font-weight: 100;
  top: -17vw;
  left: 35vw;
  position: absolute;
}

.naslov-tekst-bd {
  font-size: 22vw; /* Responsivan font */
  color: #cccccc;
  text-align: center;
  font-weight: 600;
  top: -19vw;
  left: 3vw;
  position: absolute;
}

.naslov-tekst-cg {
  font-size: 22vw; /* Responsivan font */
  color: #141414;
  text-align: center;
  font-weight: bold;
  left: -1vw;
  position: absolute;
  top: -18.3vw;
  font-weight: 600;
  letter-spacing: -1.5vw;
}

.naslov-tekst-cd {
  font-size: 18vw; /* Responsivan font */
  color: #141414;
  text-align: center;
  font-weight: bold;
  left: 0vw;
  position: absolute;
  top: -13vw;
  font-weight: 100;
  letter-spacing: -1.4vw;
}

/* Statični tekst (plavi okvir) */
.staticni-tekst-c {
  width: 90%;
  max-width: 46vw;
  height: 6vw;
  background-color: #ff8300; /* Žućkasta */
  display: flow-root;
  position: absolute;
  left: 2.7vw;
  transform: translateY(-137%);
  z-index: 1;
  padding-left: 0.9vw;
  color: #141414;
}

.staticni-tekst-b {
  width: 90%;
  max-width: 45vw;
  height: 6vw;
  background-color: #ff8300; /* Žućkasta */
  display: flow-root;
  position: absolute;
  left: 50vw;
  transform: translateY(-135%);
  z-index: 1;
  padding-right: 1vw;
  color: #141414;
  text-align: right;
}

/* Linkovi (plavi okvir) */
.linkovi-b {
  width: 90%;
  max-width: 49vw;
  height: 3vw;
  /*! background-color: #87cbde; */ /* Žućkasta */
  margin: 6vw 0;
  display: flex;
  justify-content: right;
  align-items: last baseline;
  position: absolute;
  left: 48vw;
  transform: translateY(264%);
  z-index: 1;
  padding-right: 2vw;
  color: #cccccc;
  text-align: right;
}

.linkovi-c {
  width: 90%;
  max-width: 49vw;
  height: 3vw;
  /*! background-color: #87cbde; */ /* Žućkasta */
  margin: 6vw 0;
  display: flex;
  justify-content: left;
  align-items: last baseline;
  position: absolute;
  left: 2vw;
  transform: translateY(321%);
  z-index: 1;
  padding-left: 1vw;
  color: #141414;
}

/* Sadržaj linkova (žuti okvir) */
.sadrzaj-linkova-l {
  width: 90%;
  max-width: 46vw;
  /*! height: 41vw; */
  /*! background-color: #de87bd; */ /* Žućkasta */
  /*! margin: 6vw 0; */
  /*! display: inline-flex; */
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -4vw;
  transform: translateY(-20%);
  z-index: 5;
  /*! fill: wheat; */
}

.sadrzaj-linkova-d {
  width: 90%;
  max-width: 46vw;
  height: 41vw;
  /*! background-color: #de87bd; */ /* Žućkasta */
  margin: 6vw 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 52vw;
  transform: translateY(-20%);
  z-index: 5;
  /*! color: wheat; */
  /*! scale: 80%; */
}

/* SVG animacija (narančasti okvir) */
.svg-animacija-d {
  width: 90%;
  max-width: 49vw;
  height: 13vw;
  /*! background-color: #87deb4; */ /* Žućkasta */
  margin: 6vw 0;
  display: inline-flex;
  /*! justify-content: center; */
  /*! align-items: center; */
  position: absolute;
  left: 2vw;
  transform: translateY(10%);
  z-index: 1;
  color: #141414;
  padding-left: 1vw;
}

.svg-animacija-l {
  width: 90%;
  max-width: 49vw;
  height: 13vw;
  /*! background-color: #87deb4; */ /* Žućkasta */
  margin: 6vw 0;
  display: inline-flex;
  justify-content: right;
  /*! align-items: revert; */
  position: absolute;
  left: 48vw;
  transform: translateY(8%);
  z-index: 1;
  color: #141414;
  padding-left: 1vw;
  text-align: right;
}

.svg-animacija-b {
  width: 100%;
  /*! max-width: 23vw; */
  height: 80vh;
  /*! background-color: #87deb4; */ /* Žućkasta */
  /*! margin: 6vw 0; */
  /*! display: inline-flex; */
  /*! justify-content: center; */
  /*! align-items: center; */
  position: absolute;
  /*! left: 1vw; */
  /*! transform: translateY(0%); */
  z-index: 0;
  zoom
;
  /*! scale: 100%; */
}

/* Linkovi u liniji */
.linkovi-linija {
  display: flex;
  justify-content: space-around;
  /*! margin-top: 10px; */
  /*! left: 1vw; */
  padding-left: 1vw;
}

.linkovi-linija a {
  color: black;
  text-decoration: none;
  font-size: 1.1vw;
}

.linkovi-linija-b {
  display: flex;
  justify-content: right;
  /*! margin-top: 10px; */
  /*! left: 1vw; */
  padding-right: 1vw;
}

.linkovi-linija-b a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.white-space { height: 5vh; background: white;}